<div class="card mt-2">
    <div class="card-header">
        Employee Details
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name</li>
            <li class="list-group-item">email</li>
            <li class="list-group-item">Start date</li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-outline-warning m-1 btn-sm" (click)="onGoToEdit();">Edit</button>
        <button class="btn btn-outline-danger m-1 btn-sm" (click)="onGoToDelete();">Delete</button>

    </div>
</div>
<button class="btn btn-secondary" (click)="onGoBackToList();">Go to back list</button>
{{employee | json}}