<div class="card">
    <div class="card-header">
        Agregar empleado
    </div>
    <div class="card-body">
        <form [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos();">
            <div class="mb-3">
                <label for="nombre" class="form-label"></label>
                <input type="text" class="form-control" name="" formControlName="nombre" id="" placeholder="Escriba tu nombre" autofocus>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo</label>
              <input type="email" class="form-control" name="" id="" formControlName="correo" placeholder="Escribe tu correo">              
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>                
            </div>
        </form>
    </div>
</div>