<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1984</td>
                    <td>Víktor</td>
                    <td>ahal_tocob@hotmail.com</td>
                    <td>
                        <a routerLink="/editar-empleado/1">Editar</a>| <a routerLink="/borrar-empleado/1">Borrar</a></td>
                </tr>

            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>