<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Empleados; let index= index">
                    <td>{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.correo}}</td>
                    <td>
                        <a routerLink="/editar-empleado/{{item.id}}" class="btn btn-warning text-white">Editar</a>
                        <a (click)="borrar(item.id, index);" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>

            </tbody>
        </table>        
    </div>    
</div>