<div class="card">
    <div class="card-header">
        Editar empleado
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label"></label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Escriba tu nombre" autofocus>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Escribe tu correo">              
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>                
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>